<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.3/dist/css/foundation.min.css"
      crossorigin="anonymous"
    />
    <link 
      rel="stylesheet" 
      href="/css/style.css" 
    />
    {{!-- Adding google fonts --}}
    {{!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Playfair+Display:ital,wght@0,400;0,404;1,400&family=Quicksand&family=Zen+Antique&display=swap" rel="stylesheet"> --}}
    {{!-- Adding google font --}}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      defer
    ></script>
    <script
      src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
      defer
    ></script>
    <script src="/js/main.js" defer></script>
    <title>Food Bloggers</title>
  </head>
  <body>
    <header>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        {{#if username}}
        <li><a href="/api/users/logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </header>
    {{{body}}}
    <div class="bottom">
  <div>
    <button id="newpost" class="submit success button">+ New Post</button>
  </div>
</div>
  </body>
</html>