<div id="title-background">
  <div id="title">
    <h1>New Post</h1>
  </div>
</div>

<form id="newpost-form">
  <div class="card">
    <div class="card-divider">
      New Post
    </div>
    <div class="card-section">
      <input type="text" name="title" id="post-title" placeholder="Post Title">
      <textarea type="body" name="body" id="post-body" placeholder="Content"></textarea>
      <button class="submit success button">Post</button>
      </div>
      {{!-- cloudinary --}}
      <div class="card"><img src="https://thumbs.dreamstime.com/z/beautiful-meticulously-designed-cloud-file-upload-icon-cloud-file-upload-icon-120275002.jpg" alt="image upload preview" id="image-preview">
        <label class="image-upload-container" for="file-upload">
        <input id="file-upload" type="file" style="display:none;">
        Select an image
      </label>
      </div>
      {{!-- couldinary --}}
    </div>
  </div>
</form>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{{!-- <script src="/app.js"></script> --}}

<script src="./js/newpost.js" defer></script>